@model JelloTicket.BusinessLayer.ViewModels.TicketEditVM


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.ticket.Id" />
            <div class="form-group">
                <label asp-for="@Model.ticket.Title" class="control-label"></label>
                <input asp-for="@Model.ticket.Title" class="form-control" />
                <span asp-validation-for="@Model.ticket.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.ticket.ProjectId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ticket.Body" class="control-label"></label>
                <input asp-for="ticket.Body" class="form-control" />
                <span asp-validation-for="ticket.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ticket.RequiredHours" class="control-label"></label>
                <input asp-for="ticket.RequiredHours" class="form-control" />
                <span asp-validation-for="ticket.RequiredHours" class="text-danger"></span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ticket.Owner)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.ticket.Owner</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <input type="hidden" value=@Model.ticket.Id name="ticketId" />
                <label asp-for="ticket.Owner" class="control-label">Select Users:</label>
                <select name="userId" asp-for="ticket.Owner" asp-items=@Model.Users></select>
                <span asp-validation-for="ticket.Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Projects">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}