@model IEnumerable<JelloTicket.BusinessLayer.ViewModels.TicketIndex>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket.Body)
            </th>
            <th>
                Required Hours
            </th>
            <th>@Html.DisplayNameFor(model => model.Ticket.Project)</th>
                        <th>Developer Count</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.Title)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Ticket.Body)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Ticket.RequiredHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                
            </td>

            <td>
                    <a asp-action="Edit" asp-route-id="@item.Ticket.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Ticket.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Ticket.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
